{% extends "header.html" %}
{% block content %}
<h1> Albums: </h1>
<ul style="list-style-type:none">
  <li><a href='Pablo Honey'>Pablo Honey </a></li>
    <ul style ="list-style-type:none">
      <li> Release Date: 1993 </li>
      <li> Number of Tracks:12 </li>
      <li> Most Streamed Song: <a href='/albums/Pablo Honey/Creep'>Creep</a></li>
    </ul>
  <li><a href='The Bends'> The Bends</a></li>
    <ul style="list-style-type:none">
      <li> Release Date:1995
      <li> Number of Tracks:12 </li>
      <li> Most Streamed Track: <a href="/albums/The Bends/High And Dry/"> High And Dry</a> </li>
    </ul>
  <li><a href='OK Computer'> OK Computer</a> </li>
    <ul style="list-style-type:none">
      <li>Release Date: 1997 </li>
      <li>Number of Tracks: 12</li>
      <li>Most Streamed Track: <a href="/albums/OK Computer/Karma Police/">Karma Police</a> </li>
    </ul>
  <li><a href='Kid A'> Kid A</a> </li>
    <ul style="list-style-type:none">
      <li> Release Date: 2000 </li>
      <li> Number of Tracks: 11 </li>
      <li> Most Streamed Track:<a href="/albums/Kid A/Everything In It's Right Place/">Everything In It's Right Place</a> </li>
    </ul>
  <li><a href='Amnesiac'>Amnesiac</a>
    <ul style="list-style-type:none">
      <li>Release Date: 2001 </li>
      <li>Number of Tracks: 11 </li>
      <li> Most Streamed Track:<a href="/albums/Amnesiac/Pyramid Song"> Pyramid Song </a></li>
    </ul>
  <li><a href='Hail to the Thief'> Hail to the Thief</a> </li>
    <ul style="list-style-type:none">
      <li> Release Date:2003</li>
      <li> Number of Tracks: 14 </li>
      <li> Most Streamed Track:<a href='/albums/Hail To The Thief/There There'>There, There</a></li>
    </ul>
  <li><a href='In Rainbows'> In Rainbows</a> </li>
    <ul style="list-style-type: none">
      <li> Release Date: 2007</li>
      <li> Number of Tracks: 10</li>
      <li>Most Streamed Tracks:<a href='/albums/In Rainbows/Weird Fishes Arpeggi'> Weird Fishes Apeggi</a></li>
    </ul>
  <li><a href='King of Limbs'> King of Limbs</a> </li>
    <ul style="list-style-type: none">
      <li>Release Date: 2001</li>
      <li> Number of Tracks: 8</li>
      <li>Most Streamed Track:<a href='/albums/King of Limbs/Lotus Flower'>Lotus Flower</a> </li>
    </ul>
  <li><a href='A Moon Shaped Pool'> A Moon Shaped Pool</a> </li>
    <ul style="list-style-type: none">
      <li> Release Date: 2016</li>
      <li> Number of Tracks:11 </li>
      <li> Most Streamed Track<a href='/albums/A Moon Shaped Pool/Burn The Witch'> Burn The Witch</a></li>
    </ul>
{% endblock %}}
