{% extends "header.html" %}
{% block content %}
<h1> Albums: </h1>>
<ul style="list-style-type:none">
  <li><a href='Pablo Honey'>Pablo Honey </a></li>
    <ul style ="list-style-type:none">
      <li> Release Date: 1993   Genre:Alternative Rock  Run Time:42:11 </li>
      <li> Number of Tracks: </li>
      <li> Most Streamed Song: <a href>Creep</a></li>
    </ul>
  <li><a href='#'> The Bends</a> </li>
    <ul style="list-style-type:none">
      <li> Release Date:  Genre   Run Time: </li>
      <li> Number of Tracks: </li>
      <li> Most Streamed Track: </li>
    </ul>
  <li><a href='#'> OK Computer</a> </li>
    <ul style="list-style-type:none">
      <li>Release Date: Genre Run Time: </li>
      <li>Number of Tracks</li>
      <li>Most Streamed Track: </li>
    </ul>
  <li><a href> Kid A</a> </li>
    <ul style="list-style-type:none">
      <li> Release Date: Genre Run Time: </li>
      <li> Number of Tracks </li>
      <li> Most Streamed Track: </li>
    </ul>
  <li><a href> Hail to the Thief</a> </li>
    <ul style="list-style type:none">
      <li> Release Date     Genre     Run Time</li>
      <li> Number of Tracks </li>
      <li> Most Streamed Track</li>
    </ul>
  <li><a href=> In Rainbows</a> </li>
    <ul style="list-style type: none">
      <li> Release Date:    Genre:    Run Time</li>
      <li> Number of Tracks:</li>
      <li>Most Streamed Tracks</li>
    </ul>
  <li><a href='#'> King of Limbs</a> </li>
    <ul style="list-style-type: none">
      <li>Release Date:     Genre:    Run Time</li>
      <li> Number of Tracks</li>
      <li>Most Streamed Track: </li>
    </ul>
  <li><a href> A Moon Shaped Pool</a> </li>
    <ul style="list-style-type: none">
      <li> Release Date:    Genre:    Run Time </li>
      <li> Number of Tracks </li>
      <li> Most Streamed Track </li>
    </ul>
{% endblock %}}
