{% extends "header.html" %}
{% block content %}
  <p>Name: {{ albums['album_name']}} </p>
  <p>Release Date: {{ albums['release_date']}}  </p>
  <p>Run Time: {{ albums['run_time']}} </p>
  <p>Genre: {{ albums['genre'] }} </p>
  <p> {{ albums['bio']}} </p>
  <img src="{{ albums['cover']}}" width="250" height="250"</img>
 <ul>
  <li><a href='{{albums['songs']['track1']}}'> Track 1: {{albums['songs']['track1'] }}</a></li>
  <li><a href='{{albums['songs']['track2']}}'> Track 2: {{albums['songs']['track2'] }}</a></li>
  <li><a href='{{albums['songs']['track3']}}'> Track 3:{{albums['songs']['track3'] }}</a></li>
  <li><a href='{{albums['songs']['track4']}}'> Track 4:{{albums['songs']['track4'] }}</a></li>
  <li><a href='{{albums['songs']['track5']}}'> Track 5:{{albums['songs']['track5'] }}</a> </li>
  <li><a href='{{albums['songs']['track6']}}'> Track 6:{{albums['songs']['track6'] }}</a></li>
  <li><a href='{{albums['songs']['track7']}}'> Track 7:{{albums['songs']['track7'] }}</a></li>
  <li><a href='{{albums['songs']['track8']}}'> Track 8:{{albums['songs']['track8'] }}</a></li>
  <li><a href='{{albums['songs']['track9']}}'> Track 9:{{albums['songs']['track9'] }}</a></li>
  <li><a href='{{albums['songs']['track10']}}'> Track 10:{{albums['songs']['track10'] }}</a></li>
  <li><a href='{{albums['songs']['track11']}}'> Track 11:{{albums['songs']['track11'] }}</a></li>
  <li><a href='{{albums['songs']['track12']}}'> Track 12:{{albums['songs']['track12'] }}</a></li>
  <li><a href='{{albums['songs']['track13']}}'> Track13:{{albums['songs']['track13'] }}</a></li>
  <li><a href='{{albums['songs']['track14']}}'> Track14:{{albums['songs']['track14'] }}</a></li>
</ul>
{% endblock %}
