{% extends "header.html" %}
{% block content %}
<h1> About the Band </h1>
<h3> Years Active: 1985 - Present</h3>
<h3>Genre's: Art Rock, Alternative Rock, Progressive Rock, Electronica </h3>
<h4>Members:
  <ul style ="list-style-type:none">
  <li> Thom Yorke </li>
  <li> Johnny Greenwood </li>
  <li> Ed O'Brien </li>
  <li> Colin Greenwood </li>
  <li> Phil Selway <li>
</ul>
</h4>
<p> Radiohead are an English rock band from Abingdon, Oxfordshire, formed in
1985. The band consists of Thom Yorke (lead vocals, guitar, piano, keyboards),
Jonny Greenwood (lead guitar, keyboards, other instruments), Ed O'Brien
(guitar, backing vocals), Colin Greenwood (bass), and Phil Selway (drums,
percussion, backing vocals). They have worked with producer Nigel Godrich and
cover artist Stanley Donwood since 1994. </p> 
<div>
<p></p>
<p></p>
</div>
<p>
After signing to EMI in 1991, Radiohead released their debut single <a
href="/albums/Pablo Honey/Creep/">"Creep"</a> in
1992. It became a worldwide hit after the release of their debut album,<a
href="/albums/Pablo Honey/"> Pablo
Honey</a>. Their popularity and critical standing rose in the United Kingdom
with the release of their second album,<a href="/albums/The Bends/">  The Bends
</a>. Radiohead's third
album,<a href="/albums/OK Computer/"> OK Computer </a>, propelled them to international fame; noted for its
complex production and themes of modern alienation, it is often acclaimed as a
landmark record of the 1990s and one of the best albums in popular
music. The group's next albums<a href="/albums/Kid A/"> Kid A</a> and<a
href="/albums/Amnesiac/"> Amnesiac</a> , recorded
simultaneously, marked a dramatic change in style, incorporating influences
from experimental electronic music, 20th-century classical music, krautrock,
and jazz. Kid A divided listeners but was named the best album of the decade by
Rolling Stone, Pitchfork and the Times. </p>
<div></div>
<p>
Radiohead's sixth album,<a href="/albums/Hail To The Thief"> Hail to the
Thief</a> , mixed rock and electronic
music with lyrics inspired by the War on Terror, and was the band's final album
for EMI. Their subsequent releases have pioneered alternative release platforms
such as pay-what-you-want and BitTorrent; Radiohead self-released their seventh
album,<a href="/albums/In Rainbows"> In Rainbows</a>, as a download for which customers could set their
own price, to critical and chart success. Their eighth album, <a
href="/albums/King of Limbs">The King of Limbs</a>, an exploration of rhythm, was developed using extensive looping and
sampling.<a href="/albums/A Moon Shaped Pool/"> A Moon Shaped Pool </a>prominently featured Jonny Greenwood's
orchestral arrangements.
</p>
<div></div>
<p>
Radiohead had sold more than 30 million albums worldwide by 2011. Their work
places highly in both listener polls and critics' lists of the best music of
the 1990s and 2000s. In 2005, they were ranked 73rd in Rolling Stone's
list of "The Greatest Artists of All Time"; Jonny Greenwood (48th) and
O'Brien (59th) were both included in Rolling Stone's list of greatest
guitarists, and Yorke (66th[8]) in their list of greatest singers. In 2009,
Rolling Stone readers voted the group the second-best artist of the 2000s.
In 2017, they were nominated for induction into the Rock & Roll Hall of Fame,
in their first year of eligibility. </p>
{% endblock %}
