<html>
<head>
<title>Albums</title>
<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Radiohead Discography</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/info/">Information</a></li>
      <li class="dropdown">
      <li class="Active">
        <a class="dropdown-toggle" data-toggle="dropdown"
       a href=""> >Albums<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pablo Honey</a></li>
            <li><a href="#">The Bends</a></li>
          </ul>
        <li>
    </ul>
  </div>
</nav>
<h1> Radiohead Discography </h1>
<h1> Albums </h1>
<h2> .... </h2>
<ul style="list-style-type:none">
  <li><a href='#'> Pablo Honey </a></li>
    <ul style ="list-style-type:none">
      <li> Release Date: 1993   Genre:Alternative Rock  Run Time:42:11 </li>
      <li> Number of Tracks: </li>
      <li> Most Streamed Song: <a href>Creep</a></li>
    </ul>
  <li><a href='#'> The Bends</a> </li>
    <ul style="list-style-type:none">
      <li> Release Date:  Genre   Run Time: </li>
      <li> Number of Tracks: </li>
      <li> Most Streamed Track: </li>
    </ul>
  <li><a href='#'> OK Computer</a> </li>
    <ul style="list-style-type:none">
      <li>Release Date: Genre Run Time: </li>
      <li>Number of Tracks</li>
      <li>Most Streamed Track: </li>
    </ul>
  <li><a href> Kid A</a> </li>
    <ul style="list-style-type:none">
      <li> Release Date: Genre Run Time: </li>
      <li> Number of Tracks </li>
      <li> Most Streamed Track: </li>
    </ul>
  <li><a href> Hail to the Thief</a> </li>
    <ul style="list-style type:none">
      <li> Release Date     Genre     Run Time</li>
      <li> Number of Tracks </li>
      <li> Most Streamed Track</li>
    </ul>
  <li><a href=> In Rainbows</a> </li>
    <ul style="list-style type: none">
      <li> Release Date:    Genre:    Run Time</li>
      <li> Number of Tracks:</li>
      <li>Most Streamed Tracks</li>
    </ul>
  <li><a href='#'> King of Limbs</a> </li>
    <ul style="list-style-type: none">
      <li>Release Date:     Genre:    Run Time</li>
      <li> Number of Tracks</li>
      <li>Most Streamed Track: </li>
    </ul>
  <li><a href> A Moon Shaped Pool</a> </li>
    <ul style="list-style-type: none">
      <li> Release Date:    Genre:    Run Time </li>
      <li> Number of Tracks </li>
      <li> Most Streamed Track </li>
    </ul>
</body>
</html>
